@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");


* {
  color: #424551;
  font-family: Lato, sans-serif;
  line-height: 1.6;

}
h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
}
.content {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
}
